# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Robot Framework result files
output.xml
log.html
report.html
results/

# Virtual environments
robot-env/
venv/
env/
ENV/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python-specific
*.pyo
*.pyd
*.pdb

# Optional libs
libs/
